<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.94.2" targetFramework="net45" requireReinstallation="true" />
  <package id="DocumentFormat.OpenXml" version="2.9.0" targetFramework="net45" requireReinstallation="true" />
  <package id="ExcelNumberFormat" version="1.0.3" targetFramework="net45" />
  <package id="FastMember" version="1.4.1" targetFramework="net462" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net45" />
</packages>